#include "Resources.h"

BM_BK BITMAP "Resources/Background.bmp"
BM_CB1 BITMAP "Resources/CB1.bmp"
BM_CB2 BITMAP "Resources/CB2.bmp"
BM_CB3 BITMAP "Resources/CB3.bmp"
BM_CB4 BITMAP "Resources/CB4.bmp"
BM_CB5 BITMAP "Resources/CB5.bmp"
BM_CB6 BITMAP "Resources/CB6.bmp"
BM_CB7 BITMAP "Resources/CB7.bmp"
BM_CB8 BITMAP "Resources/CB8.bmp"
BM_CB9 BITMAP "Resources/CB9.bmp"
BM_CB10 BITMAP "Resources/CB10.bmp"
BM_CB11 BITMAP "Resources/CB11.bmp"
BM_CB12 BITMAP "Resources/CB12.bmp"
BM_RB1 BITMAP "Resources/RB1.bmp"
BM_RB2 BITMAP "Resources/RB2.bmp"
BM_RB3 BITMAP "Resources/RB3.bmp"
BM_RB4 BITMAP "Resources/RB4.bmp"
BM_RB5 BITMAP "Resources/RB5.bmp"
BM_RB6 BITMAP "Resources/RB6.bmp"
BM_RCB1 BITMAP "Resources/RCB1.bmp"
BM_RCB2 BITMAP "Resources/RCB2.bmp"
BM_RCB3 BITMAP "Resources/RCB3.bmp"
BM_RCB4 BITMAP "Resources/RCB4.bmp"
BM_RCB5 BITMAP "Resources/RCB5.bmp"
BM_RCB6 BITMAP "Resources/RCB6.bmp"
BM_BKA BITMAP "Resources/CheckBackground.bmp"
BM_TICK1 BITMAP "Resources/Tick1.bmp"
BM_TICK2 BITMAP "Resources/Tick2.bmp"
BM_TICK3 BITMAP "Resources/Tick3.bmp"
BM_TICK4 BITMAP "Resources/Tick4.bmp"
BM_TICK5 BITMAP "Resources/Tick5.bmp"
BM_TICK6 BITMAP "Resources/Tick6.bmp"
BM_TICK7 BITMAP "Resources/Tick7.bmp"
BM_TICK8 BITMAP "Resources/Tick8.bmp"
BM_TICK9 BITMAP "Resources/Tick9.bmp"
BM_TICK10 BITMAP "Resources/Tick10.bmp"
BM_TICK11 BITMAP "Resources/Tick11.bmp"
BM_TICK12 BITMAP "Resources/Tick12.bmp"
BM_TICK13 BITMAP "Resources/Tick13.bmp"
BM_TICK14 BITMAP "Resources/Tick14.bmp"
BM_CROSS1 BITMAP "Resources/Cross1.bmp"
BM_CROSS2 BITMAP "Resources/Cross2.bmp"
BM_CROSS3 BITMAP "Resources/Cross3.bmp"
BM_CROSS4 BITMAP "Resources/Cross4.bmp"
BM_CROSS5 BITMAP "Resources/Cross5.bmp"
BM_CROSS6 BITMAP "Resources/Cross6.bmp"
BM_CROSS7 BITMAP "Resources/Cross7.bmp"
BM_CROSS8 BITMAP "Resources/Cross8.bmp"
BM_CROSS9 BITMAP "Resources/Cross9.bmp"
BM_CROSS10 BITMAP "Resources/Cross10.bmp"
BM_CROSS11 BITMAP "Resources/Cross11.bmp"
BM_CROSS12 BITMAP "Resources/Cross12.bmp"
BM_CROSS13 BITMAP "Resources/Cross13.bmp"
BM_CROSS14 BITMAP "Resources/Cross14.bmp"
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "Resources/Quiz.exe.manifest"
